---
layout: default
---

 <div class='post-outer'>
	 <div class='post hentry'>
		 <div class="entry-content">
			 <h3 style="padding-bottom: 10px;">New Comics</h3>
<ul style="list-style: none; float: left; margin: 0em;">
	{% for post in site.categories.Comics limit: 5 %}
	<li style="float: left; padding-right: 10px;">  <a href="{{ post.url }}" ><img src="{{ post.thumbnail }}" /></a></li>
{% endfor %}</ul>

		 </div>
	 </div>
</div>


 <div class='post-outer'>
	 <div class='post hentry'>
		 <div class="entry-content">
			 <h3>Blog Posts</h3>
<ul style="list-style-type: circle;">
	{% for post in site.categories.Blog limit: 5 %}
<li><time>{{ post.date | date:"%d %b" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
</ul>
{% endfor %}
		 </div>
	 </div>
</div>

