---
layout: default
---


	 <div class="post hentry">
		 <div class="entry-content">
			 <h2 style="padding-bottom: 10px;">New Comics</h2>
			
<ul style="list-style: none; margin: 0em;">
	{% for post in site.categories.Comics limit: 9 %}
	<li style="float: left; padding: 5px; width: 33.33333333333333%;">  <a href="{{ post.url }}" ><img src="{{ post.thumbnail }}" /></a></li>
	{% endfor %}</ul>
			 <div style="clear: both;"></div>
			 <div align="right" class="jump-link"><a href="https://randideo.com/comics">View more »</a></div>
		 </div>
	 </div>


<!--
     
 <div class='post-outer'>
	 <div class='post hentry'>
		 <div class="entry-content">
			 <h3>Blog Posts</h3>
<ul style="list-style-type: circle;">
	{% for post in site.categories.Blog limit: 5 %}
<li><time>{{ post.date | date:"%d %b" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li>
</ul>
{% endfor %}
		 </div>
	 </div>
</div>

-->

