---
layout: page
title: Comics
permalink: comics
---
   
    <div class="large-6 columns">
    <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">       
        {% for post in site.categories.comics limit:30  %}
        {% unless post.draft %}
        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}
        <li>{% if post.thumbnail %}
	<a href="{{ post.url }}"><img src="{{ post.thumbnail }}" class="th" align="center" /></a>{% endif %}
	
        {% endunless %}
        {% endfor %}
    </ul></div>
