---
layout: page
---
<section id="archive">
    
    <h1 class="entry-title" style="padding: 0em 0em .5em 0em;">What's New</h1>
    <img src="{{ site.images }}/thumbs/blank.jpg" width="32.5%">

This site is under construction, please excuse the mess.
    <h3 style="padding: .2em 0em .2em 0em;">New Comics</h3>
    Comics will go here.
    <h3 style="padding: .2em 0em .2em 0em;">Recent Blog Posts</h3>
    <ul>       
        {% for post in site.posts limit:10  %}
        {% unless post.draft %}
        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}
        <li>{% if post.thumbnail %}
	<img src="{{ post.thumbnail }}" style="height: 280px" align="center" />{% endif %}
	<time>{{ post.date | date:"%d %b" }}</time> - <a href="{{ post.url }}">{{ post.title }}</a></li> 
        {% endunless %}
        {% endfor %}
    </ul>
</section>
