---
layout: default
---

	
 {% for post in site.posts limit: 5 %}
 <div class='post-outer'>
<div class='post hentry'>
	 <header>
		 <a href="{{ post.url }}" style="color: #000; text-decoration: none;"><h1 class="entry-title">{{ post.title }}</h1></a>
		  Posted {{ post.date | date: '%A, %B %d, %Y' }} {% if site.comments %}· <a style="text-decoration: none;" href="{{ site.baseurl }}{{ post.url }}#disqus_thread" class="comments-count">Comments Loading...</a>{% endif %}
  </header>

	<div class="entry-content"> {{ post.excerpt }}</div> 
	{% if post.content contains site.excerpt_separator %}
	  <div align="right" class="jump-link"><a href="{{ post.url }}">Read more »</a></div>
	 {% endif %}
	


{% if post.tags.size > 0 %}
  <i class="fa fa-folder-open">
  {{ post.tags | sort | join: ", " }}
{% endif %}


	 </div></div>
        {% endfor %}

