---
layout: default
---
    <h1 class="entry-title">What's New</h1>
    <p>This site is under construction, please excuse the mess.</p>
    <h3 style="padding: 0em 0em .2em 0em;">New Comics</h3>
       
        {% for post in site.categories.comics limit: 3  %}
        {% unless post.draft %}
        {% if post.menutitle %}
        {% assign title = post.menutitle %}
        {% else %}
        {% assign title = post.title %}
        {% endif %}
        <li>{% if post.thumbnail %}
	<a href="{{ post.url }}"><img src="{{ post.thumbnail }}" class="th" align="center" /></a>{% endif %}
	  {% if post.content %}<section class="entry-content">{{ content }} </section>{% endif %}
        {% endunless %}
        {% endfor %}

