---
layout:   page
title:    Tags
---
{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<div class="posts">
<p>
{% for tag in tags %}
<a style="color: #fff;" href="#{{ tag | slugify }}" class="codinfox-tag-mark"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }} </a> &nbsp;&nbsp;
{% endfor %}

{% for tag in tags %}
<h3 id="{{ tag | slugify }}">{{ tag }}</h3>
<ul class="codinfox-category-list">
  {% for post in site.posts %}
  {% if post.tags contains tag %}
  <li>
      <a href="{{ post.url }}">
        {{ post.title }}</a>
        <small>{{ post.date | date_to_string }}</small>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

</div>

<style>
 .codinfox-category-list {
    padding-left: 1rem;
    list-style: circle;
}
.codinfox-category-list li small {
    font-size: 75%;
    color: #999;
  text-decoration: none;
}
.codinfox-category-list li a:hover {
    color: #6a9fb5;
    text-decoration: none;
}
.codinfox-category-list li a:hover small {
    color: inherit;
  text-decoration: none;
}

.codinfox-category-mark {
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #f0f0f0;
    color: #999;
    text-decoration: none;
    margin-bottom: .75rem;
}

.codinfox-category-mark:hover {
    font-weight: bold;
}

.codinfox-tag-mark{
    display: inline-block;
    background: #000;
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #fff;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
   text-decoration: none;
}
</style>
