<div align="center">&#169; {{ 'now' | date: "%Y" }} randideo</div>
<script type='text/javascript'>
//<![CDATA[

! function(a) {
    function b() {
        var b = a("#menu-primarynbt").width(),
            d = a("#overflow-containernbt").height();
        a("#site-headernbt").hasClass("toggled") ? (a("#site-headernbt").removeClass("toggled"), a("#mainnbt").css("transform", "translateX(0px)"), a(".breadcrumbs").css("transform", "translateX(0px)"), a("#sidebar-primary-container").css("transform", "translateX(0px)"), a(window).unbind("scroll"), setTimeout(function() {
            a("#menu-primarynbt").removeAttr("style")
        }, 400)) : (a("#site-headernbt").addClass("toggled"), a("#menu-primarynbt").css("height", d), a("#mainnbt").css("transform", "translateX(" + b + "px)"), a(".breadcrumbs").css("transform", "translateX(" + b + "px)"), a("#sidebar-primary-container").css("transform", "translateX(" + b + "px)"), a(window).scroll(c))
    }

    function c() {
        var c = a("#menu-primary-items").offset().top + a("#menu-primary-items").height(),
            d = a(window).scrollTop();
        d > c && (a(window).unbind("scroll"), b())
    }
    a(".entry-content").fitVids(), a(".entry-content").fitVids(), a("#toggle-navigationnbt").bind("tap", b), a(".menu-item a, .page_item a").focus(function() {
        a(this).parent("li").addClass("focused"), a(this).parents("ul").addClass("focused")
    }), a(".menu-item a, .page_item a").focusout(function() {
        a(this).parent("li").removeClass("focused"), a(this).parents("ul").removeClass("focused")
    })
}
//]]>
</script>

 <script id="dsq-count-scr" src="//randideo.disqus.com/count.js" async></script>
</body>
</html>
