<div class='sidebar-primary-container' id='sidebar-primary-container'>
<div class='sidebar sidebar-primarynbt' id='sidebar-primarynbt' role='complementary'>
<div class='nbtsidebarright section' id='nbtsidebarright'>
    <div class='widget HTML' data-version='1' id='HTML3'>
<h2 class='title'>About</h2>
<div class='widget-content'>
Wife, mother, writer of words, doodler of doodles.
        </div></div>
    
         <div class='widget HTML' data-version='1' id='HTML3'>
             <h2 class='title'>Subscribe Via Email</h2>
  <style>.email-octopus-form-wrapper h2{font-size:20px;margin:0 0 25px 0;}.email-octopus-form-row{margin-bottom:15px;}.email-octopus-form-row label{display:block;}.email-octopus-form-row input{width:100%;padding:8px;height:32px;border:1px solid #ccc;}.email-octopus-form-row-subscribe{margin-top:20px;}.email-octopus-form-row-subscribe button{color:#fff;background-color:#000000;border:0;max-width: 13.875em; padding:8px 15px;font-family: lusitana, serif;
    font-size: 1em;
    line-height: 1.85;font-weight:bold; letter-spacing: .05em;}.email-octopus-form-row-hp{position:absolute;left:-5000px;}.email-octopus-error-message{color:#e74c3c;}.email-octopus-referral{margin-top:20px;}</style>
<div class="email-octopus-form-wrapper"><form action="https://tinyletter.com/randideo" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/randideo', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      
<div class="email-octopus-form-row">
<label>Email address:</label>
      <input type="text" name="email" class="email-octopus-email-address"/></div>
<div class="email-octopus-form-row-subscribe">
      <button type="submit" name="sub">Subscribe</button>
</div>
</form></div></div>
    
<div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Smart Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7111259389333779"
     data-ad-slot="4377792010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    
<div class='clear'></div>
  
  

</div>
</div></div>
</div><!-- #sidebar-primary -->
</div>
</div>
