<div class='sidebar-primary-container' id='sidebar-primary-container'>
<div class='sidebar sidebar-primarynbt' id='sidebar-primarynbt' role='complementary'>
<div class='nbtsidebarright section' id='nbtsidebarright'>
    <div class='widget HTML' data-version='1' id='HTML3'>
<h2 class='title'>About</h2>
<div class='widget-content'>
Wife, mother, writer of words, doodler of doodles.
        </div></div>
    
	
	<div class='widget Label' data-version='1' id='Label1'>
<h2 class='title'>Tags</h2>
<div class='widget-content list-label-widget-content'>
   {% for category in site.tags %}
  <li style="list-style: none; border-bottom: 1px #ccc;" ><a dir="ltr" href="/tags/#{{ label | first }}">{{ category | first }}</a></li>
{% endfor %}
</div>
</div>
    
<div class='clear'></div>
  
  

</div>
</div></div>
</div><!-- #sidebar-primary -->
</div>
</div>
