<div class='sidebar-primary-container' id='sidebar-primary-container'>
<div class='sidebar sidebar-primarynbt' id='sidebar-primarynbt' role='complementary'>
<div class='nbtsidebarright section' id='nbtsidebarright'>
    <div class='widget HTML' data-version='1' id='HTML3'>
<h2 class='title'>About</h2>
<div class='widget-content'>
Words & doodles.
        </div></div>
    
       <div class='widget HTML' data-version='1' id='HTML3'><h2 class='title'>Newsletter</h2>
    <div class='widget-content'>
         <form action="https://tinyletter.com/randideo" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/randideo', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:100%" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
          </div></div>
    
<div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Smart Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7111259389333779"
     data-ad-slot="4377792010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    
<div class='clear'></div>
  
  

</div>
</div></div>
</div><!-- #sidebar-primary -->
</div>
</div>
