{% include header.html %}
<div class='overflow-containernbt' id='overflow-containernbt'>
<div class='mainnbt' id='mainnbt' role='main'>
<div class='mainblogsec section' id='mainblogsec'><div class='widget Blog' data-version='1' id='Blog1'>
<div class='blog-posts hfeed'>
<div class='post-outer'>
<div class='post hentry'>
  <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
</div></div></div></div></div></div>
{% include sidebar.html %}
{% include footer.html %}
