---
layout: default
---
<div class='post-outer'>
<div class='post hentry'>
   
		 <h1 class="entry-title">{{ page.title }}</h1>
		  Posted {{ page.date | date: '%B %d, %Y' }} · <a style="text-decoration: none;" href="{{ site.baseurl }}{{ post.url }}#disqus_thread" class="comments-count">Comments Loading...</a>

  <section class="entry-content">{{ content }}
  </section>
	<div>{% for tags in post.tags %}
        <a style="color: #efefef;" href="#{{ tag | slugify }}" class="codinfox-tag-mark"><i class="fa fa-tag" style="padding-right: 2px;" aria-hidden="true"></i>{{ tags }}</a> {% endfor %}
 


<style>
 .codinfox-category-list {
    padding-left: 1rem;
    
}
.codinfox-category-list li small {
    font-size: 80%;
    color: #000;
  text-decoration: none;
}
  

.codinfox-category-list li a:hover {
    color: #dd3300;
    text-decoration: none;
}
.codinfox-category-list li a:hover small {
    color: inherit;
  text-decoration: none;
}

.codinfox-tag-mark{
    display: inline-block;
    background: #000;
    margin-top: 8px;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 4px;
    color: #fff;
   text-decoration: none;
  font-size: 1em;
}
</style>
	</div>
</div></div>

<div style="margin: 3em 0;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Smart Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7111259389333779"
     data-ad-slot="4377792010"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

{% if site.comments %}
<div style="background-color: #fff; padding: 6.333% 2.25em;">
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//randideo.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>{% endif %}  
